<ol class="post-list">
  {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{post_url}})</span>
      </div>
      <div class="meta">

        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
  {{#each records}}
  <li>
    <article class="vinyl">
      <div class="title">
        <a href="{{artist}}" target="_blank">{{artist}}</a>
        <span>Artist: {{artist}}</span>
      </div>
    </article>
  </li>
  {{/each}}
</ol>