{{!-- <ol class="post-list">
  {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{post_url}})</span>
      </div>
      <div class="meta">

        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
   --
{{!-- <div>
  <div><a href="/rec">view records</a></div>

</div>

<div><a href="/use">view users</a></div> --}}

<section class="hero"></section>

<section class="body">
  <h2>Welcome to Vinyl Collectors.. <br/>A One Stop Shop For Vinyl Lovers</h2>

<div id ="options">
  <a href="/use"> Browse Users</a>
  <br>
  <a href="/rec">Browse Records</a>
  <br>
  <a href="/post">Browse Posts</a>
  <br>
  <br>
</div>
</section>

