<h3>Records</h3>

<div id="forum">
  <div id="container" class="record">
<ol id="recordlist">
  {{#each records}}
  <li>
    <article class="record-post">
      <div class="title">
      
      </div>
      <div id="recordArtist">Artist: {{artist}}</div>
      <div id ="recordTitle">Title: {{title}} </div>
      <img class="record-image" src="/assets/images/{{filename}}"/> 
      <div id="record-message">
      <div> {{user.username}} owns this record! </div>
      <div id="userEmail"><a href="mailto:{{user.email}}">For more infomation send <br/>{{user.username}} a message </a></div>
      
      </div>
      </article>
      <div class="meta">

        {{!-- <a href="/post/{{id}}">{{comments.length}} comment(s)</a> --}}
      </div>
    </article>
  </li>
  {{/each}}
</ol>
</div>
</div>



<form id="upload">
  <div>
    <label for="imageUpload">Image</label>
    <input type="file" name="image" id="imageUpload" />

  </div>
  
  <div>
    <label for="fileName">File Name</label>
    <input type="text" name="fileName" id="fileName" />

  </div>

  <button type="submit">Submit</button>
</form>

<script src="/assets/js/ImageUpload.js"></script>
</section>
